{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Covenant University Chaplaincy Library </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:500i&amp;display=swap">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel2/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel2/assets/owl.theme.default.min.css' %} ">
    <!-- theme stylesheet-->
  <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet'">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light position-absolute w-100">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home </a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Works</a></li>
            </ul>
            <ul class="navbar-nav d-none d-lg-block px-4">
              <li class="nav-item m-0"><a class="navbar-brand m-0" href="index.html"><img src="{% static 'img/culogo.jpg' %}" alt="..." width="80"></a></li>
            </ul>
            <ul class="navbar-nav ml-auto-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Sermons </a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Events</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

      <div class="card mb-4" id="forms">
        <div class="card-body">
          <form>
            <fieldset>
              <h4 class="mb-5"> LOG IN</h4>
              <div class="form-group">
                <label for="exampleInputEmail" >Email address</label>
                <input class="form-control" id="exampleInputEmail" type="text" placeholder="Enter email">
              </div>
                <br>
                <br>
              <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input class="form-control" id="exampleInputPassword" type="password" placeholder="Password">
              </div>
{#                <a  href="{% url 'signup' %}"> Don't have an account? Sign Up here  </a>#}
                <br>
              <a class="btn btn-primary px-4" href="{% url 'text' %}">LOG IN </a>  <a class="btn btn-primary px-4" href="{% url 'signup' %}"> SIGN UP </a>
            </fieldset>
          </form>
          <hr class="my-5">




{#    <footer class="pt-5 text-white" style="background: #9d7367">#}
{#      <div class="container pt-5">#}
{#        <div class="row mb-5 pb-5  ">#}
{#          <div class="col-md-12 col-sm-1"><img class="mb-3" src="{% static 'img/download.jpg' %}" alt="..." width="140">#}
{#            <p class="text-small text-muted"> Covenant University KM. 10 Idiroko Road, Canaan Land, Ota, Ogun State,Nigeria <br>#}
{##}
{#                                              Telephone:<br>#}
{##}
{#                                              +234 903 355 0046<br>#}
{##}
{#                                              +234 903 355 0049<br>#}
{##}
{#                                              E-mail: vc@covenantuniversity.edu.ng<br>#}
{##}
{#                                              registrar@covenantuniversity.edu.ng </p>#}
{#        </div>#}
{#      </div>#}
{#    </footer>#}
    <!-- JavaScript files-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.countdown/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/front.js' %}"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>