{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Covenant University Chaplaincy library</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
{#  <link rel="stylesheet" href="{% static 'css/ebube.css' %} ">#}
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} ">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:500i&amp;display=swap">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel2/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel2/assets/owl.theme.default.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet'">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <![endif]-->
</head>
<body>
<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark position-absolute w-100">
        <div class="container"><a class="navbar-brand d-block d-lg-none" href="#"><img
                src="{% static 'img/logo-alt.svg' %}" alt="..." width="60"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span></span><span></span><span></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Services</a></li>

                </ul>
                <ul class="navbar-nav d-none d-lg-block px-4">
                    <!-- <li class="nav-item m-0"><a class="navbar-brand m-0" href="{% url 'index' %}#"><img src="img/download.jpg" alt="..." width="80"></a></li> -->
                    <li>
                        <div class="dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                Categories
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'prayer' %}">Prayer & Word study</a>
                                <a class="dropdown-item" href="{% url 'knowledge' %}">Knowledge & Success</a>
                                <a class="dropdown-item" href="{% url 'healing' %}">Healing & Deliverance</a>
                                <a class="dropdown-item" href="{% url 'marriage' %}">Marriage & Relationships </a>
                                <a class="dropdown-item" href="{% url 'novels' %}">Christian Novels & Biography </a>
                            </div>
                        </div>

                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Upcoming events </a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#events">Events</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'text' %}">Back</a></li>


                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Hero Slider -->
<section class="bg-center bg-cover" style="background: url({% static 'img/banner.jpg' %})">
    <div class="dark-overlay">
        <div class="overlay-content py-5 index-forward">
            <div class="container py-5 mt-5">
                <div class="row py-5 text-white text-center">
                    <div class="col-lg-7 mx-auto">
                        <div class="main">

</section>
<section class="py-5">
    <div class="container py-5">
        <header class="mb-5">

        </header>
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion pb-5" id="accordion">
                    <div class="card border-0 rounded-0 mb-2">
                        <div class="card-header p-0 border-0" id="headingOne">
                            <!--<h6 class="mb-0"><a class="d-block reset-anchor py-3 px-4" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></a></h6>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <!---->
                    </div>
                    <div class="col-lg-6 mb-4">
                        <!---->
                    </div>
                    <div class="col-lg-6 mb-4">
                        <!---->
                    </div>
                    <div class="col-lg-6 mb-4">
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <a class="text-xl-center"><h1> Prayer & Word Study </h1></a>
        <blockquote class="blockquote p-4 p-lg-5 text-center bg-light mb-5">
            <p class="text-serif">My soul is weary with sorrow; strengthen me according to your word.</p>
            <div class="blockquote-footer">
                <cite title="Psalm 119:28 NIV">Psalm 119:28 NIV</cite>
            </div>
        </blockquote>




              {% for b in book %}
            <div class="col-lg-4 col-md-6 mb-2 mb-lg-0 p-5 bg-light">
            <h6 class="h6 mb-3">{{ b.title }}</h6>
                 <img src="{{ b.coverImage.url }}"  ><br>
                <h6 class="h6 mb-3">About the book</h6>
                 <p class="mb-0 text-small text-muted mb-4">{{ b.description}}</p>
                <p><a class="btn btn-outline-primary btn-sm" href="{{ b.bookFile.url }} "download>Download</a></p>
            </div>
{% endfor %}

    <a class="scroll-top" href="#"><i class="fas fa-long-arrow-alt-up"></i></a>

</section>
<footer class="pt-5 text-white" style="background: #111">
    <div class="container pt-5">
        <div class="row mb-5 pb-5">
            </a>. </p>

        </div>
    </div>
</footer>
<!-- JavaScript files-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/jquery-circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'vendor/smooth-scroll/smooth-scroll.min.js' %}"></script>
<script src="{% static 'vendor/jquery.countdown/jquery.countdown.js' %}"></script>
<script src="{% static 'js/front.js' %}"></script>
<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
</html>